/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*-----------------------------------------------*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*-----------------------------------------------*/
body{
    background-image: url("../src/images/photo_3.jpg");
}
.titre{
    padding: 300px;
}
.titre div {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px;
    text-align: center;
}
.titre div h2{
    font-size: 40px;
}
.titre div p {
    margin-top: 30px;
    padding: 0;
    font-size: 20px;
}
.titre button {
    background-color: bisque;
    width: 40%;
}
.articles{
    margin-top: 50px;
}
.chapitres h1{
    margin-bottom: 0;
}
.chapitres li span{
    font-size: 15px;
}
ul{
    background-color: rgba(255, 255, 255, 0.6);
}
footer{
    position: relative;
    bottom: 0;
    line-height: 100px;
}
footer p{
    z-index: 2;
    margin: 0;
    background-color: white;
}
.footer{
    margin-right: 0;
}
h1{
    font-size: 60px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 20px;
}
h2{
    font-size: 30px;
    margin-left: 15px;
}
input{
    width: 100%;
    height: 50px;
    font-size: 20px;
}
p{
    font-size: 30px;
    margin: 30px;
}
li{
    margin: 40px;
    font-size: 30px;
    list-style: circle;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: #a4cbff;
}
section{/*Faire qu'une seul section, le reste sera des articles*/
    margin-right: 0;
    margin-bottom: 400px;

}
section p{
    margin: 0;
    margin-left: 15px;
}
span{
    font-weight: bold;
}
button{
    padding: 20px;
    width: 100%;
}

article{
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 80px;
}
article p{
    margin-top: 20px;
    font-size: 20px;
    background-color: inherit;
    word-break: break-all;
}
.connect p{
    background-color: transparent;
}
#formConnection, #formInscription{
    font-size: 30px;
}
.navbar-inverse{
    background-color: #48639c;
    border-color: #48639c;
}
.navbar{
    margin-bottom: 0;
}
.col-md-4,.col-md-3, .col-md-2, .col-md-1, .col-sm-6, .col-xs-6,.col-xs-4{
    line-height: 80px;
    color: white;
    font-size: 20px;
}
.active{
    color: yellow;
}
.site{
    background-color: #cbe896;
    line-height: 50px;
    font-size: 30px;
}
.subco{
    background-color: #8bc5ab;
    line-height: 50px;
    font-size: 30px;
}

.subco p{
    margin: 0;
}
.deco{
color: black;
    line-height: 50px;
}
.fa-sign-out{
    font-size: 20px;
}
.admin{
    margin-top: 20px;
    margin-right: 0;
}
.admin p {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
}
.admin button{
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.6);
}
.admin button:hover{
    background-color: rgba(200, 200, 200, 0.6);
}
.write{
    margin-right: 0;
    margin-left: 0;
}


